{% extends 'base.html' %}

{% csrf_token %}
<h4>Bork Back</h4>
{% block content %}

<div class="dogpost-detail">
    <h4 class="dogpost-title">{{ dogpost.title }}</h4>
    <div class="dogpost-body">
        {{ dogpost.body }}
    </div>
</div>
<br>
{% for comment in comments %}
<div class="comment">
    {{ comment.commentBody }}
</div>
<input type="submit" class="up-button" value="GOOD BOI">
<input type="submit" class="down-button" value="BAD DOG">
{% endfor %}

<form class="new-comment" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="button" value="ROOF">
</form>




{% endblock %}